
.list {
    display: inline;
    padding: 10px;
    }
    .list:hover{
    background-color: red;
    }
    body{
        background-color: rgb(221, 243, 243);
      
    }
    h1{
    text-decoration: red;
    font-family: 'Times New Roman', Times, serif;
    }
    .main{
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .main{
        margin-left: 50px;
    }
    
    }
    .contactus{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    